# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production build outputs
dist/
client/dist/

# IDE and local configurations
.vscode/
.idea/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System Files
.DS_Store
Thumbs.db
